.table-container {
	width: 992px;
    margin: 0 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 33%;
}

td {
	cursor: pointer;
}

.mat-row:hover {
	background: #f5f5f5;
}

.no-data mat-card {
	font-size: 22px;
	margin: 0 auto;
	color: #666666;
	margin-top: 20px;
}