<div class="dashboard-container">

	<div class='row no-data' *ngIf='!showTable'>
		<mat-card>No data</mat-card>
	</div>

	<div class='table-container' *ngIf='showTable'>

		<mat-form-field>
		  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>

		<div class="mat-elevation-z8">
		  <table mat-table [dataSource]="dataSource" matSort>

		    <!-- Name Column -->
		    <ng-container matColumnDef="name">
		      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
		      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
		    </ng-container>

		    <!-- Phone Column -->
		    <ng-container matColumnDef="phone">
		      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
		      <td mat-cell *matCellDef="let row"> {{row.phone}}</td>
		    </ng-container>

		    <!-- House Id Column -->
		    <ng-container matColumnDef="house_id">
		      <th mat-header-cell *matHeaderCellDef mat-sort-header> House Id </th>
		      <td mat-cell *matCellDef="let row"> {{row.house_id}} </td>
		    </ng-container>

		    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)='expenseInfo(row)'>
		    </tr>
		  </table>

		  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</div>
</div>

